


.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top, .bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Tạo ra 4 cột */
  grid-gap: 10px;
}
.inspiration-title{
  margin: 30px auto;
}

.top-item:nth-child(1),
.bottom-item:nth-child(2) {
  grid-column: span 2; /* Kéo dài hình ảnh qua 2 cột */
}

.carousel-item img {
  width: 100%;
  height: 300px; /* Đặt chiều cao cố định cho tất cả hình ảnh */
  object-fit: cover;
  border-radius: 8px;
  position: relative; /* Để chứa label bên trong */
}

.top-item, .bottom-item {
  position: relative;
}

.label {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ trong suốt */
  color: #fff; /* Màu chữ trắng */
  border-radius: 0 0 8px 8px; /* Bo góc phía dưới để khớp với hình ảnh */
}
