.card{
    border-radius: 15px;
    margin:  20px auto;
    text-align: center;
    width: 370px;
    font-size: large;

}
.card-img-bottom{
    width: 100%;
}
.container-card-list{
    background-color: rgb(230, 230, 230);    

}

.card img{
    border-radius: 10px;
}

.card-title{
    margin: 20px auto;
}

.container-card{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
    transition: 0.5s;
}

.card{
    transition: 0.5s;
}