.SearchInput {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    outline: none; 
    color: #73868A;
    z-index: 1;
    margin: auto;
    background: #F8F9FA;
}

.SearchText {
    margin: auto;
}

.SearchInput:focus {
    border: none;
    border-radius: 5px;
    outline: solid 2px #73868A ; 
    color: #73868A ;
    z-index: 1;
}

input::placeholder {
    color: #73868A   !important;
}

.btnDropdown a {
    position: relative;
    text-decoration: none;
    color: #73868A ;
}

.btnDropdown a:hover {
    color: #39463A ;
    font-weight: bold;
    text-decoration: underline;
}

a {
    position: relative;
    text-decoration: none;
    color: #73868A ;
}

.AppBar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.AppBar-right a:hover {
    color: #39463A ;
    font-weight: bold;
}

.AppBar-right a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #73868A;
    transition: width 0.3s ease;
}

.AppBar-right a:hover::after {
    width: 100%;
}