.item-list-customer .cd-item-avatar img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.item-list-customer{
    display: flex;
}

.container-comment-design{
    margin-left: 80px;
}   

.item-comment{
    margin-left: 20px;
    margin-top: 10px;
    max-width: 900px;
}

.item-comment-text{
    word-wrap: break-word;
}

.container-comment-design{
    overflow-y: scroll;
    height: 400px;
    width: 1070px;
    margin: 20px 80px;
}