.container-detail-list {
  /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  gap: 20px;
}

.item-text-list{
  display: grid;
  font-size: 18px;
}

.item-title-list {
  width: 100%;
  min-width: 200px;
  font-weight: 900;
  padding-right: 10px;
  padding-bottom: 5px;
  word-wrap: break-word;

}



.star-rating{
    margin-left: 40px;
}
.star-rating i{
    color: orange;
    font-size: 30px;
}

.sd-list-item {
  margin: 30px;
  overflow: scroll;
  overflow-x: hidden;
  width: 38%;
  /* height: 670px; */
  height: 670px;
  display: grid;
}

.sd-list-item-title {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 32px;
}

.sd-list-item-title {
  margin-right: 20px;
}

.sd-list-item-detail {
  margin: 40px 0px 10px 40px;
}

.container-detail-list .sd-image-detail img {
  /* height: 100%; */
  object-fit: cover;
  /* width: 1150px; */
  max-width: 1200px;
  width: 105%;
  height: 670px;
  margin: 30px;
}

.sd-list-item-detail .item-text
{
  font-size: 18px;
  display: flex;
  margin-top: 5px;
}

.item-size-design {
  color: rgb(108, 108, 108);
  font-size: 18px;
  display: flex;
  margin-top: 5px;
}

.item-size-design .sd-size-title{
  margin-right: 10px;
}

.item-title,
.item-design-detail{
  font-weight: 900;
  padding-right: 10px;
}

.item-description {
  background-color: beige;
}

.sd-btn-gfq {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5%;
  margin-top: 5px;
}

.sd-btn-gfq button {
  width: 37%;
  padding: 10px;
  margin: 5px;
}
