.container-why-choosen-us{
    background-color: rgb(230, 230, 230);
    margin-top: 100px;
}
.wcs-title{
    font-size: 32px;
    margin: 15px;
}

.wcs-card{
    width: 250px;
    background-color: white;
    border-radius: 20px;
    margin: 20px 20px;
}
.wcs-container-card{
    background: rgb(230, 230, 230);
    width: 100%;
}

.wcs-card-icon{
    font-size: 100px;
}


.wcs-card-text{
    font-size: 18px;
    padding: 5px;
}

.wcs-content{
    display: flex;
}


